.header__nav-link--white {
  color: var(--light-font-color);
}
.header__nav--white {
  border-bottom: 1px solid var(--light-font-color);
}

/* .header__icons-item--white {
  transition: background-image 250ms var(--transition);
} */

.header__icons-item--white:nth-child(1) {
  background-image: url(../images/icon/white_cabinet.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item--white:nth-child(2) {
  background-image: url(../images/icon/white_heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item--white:nth-child(3) {
  background-image: url(../images/icon/white_basket.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* .header__icons-item--white:nth-child(1):hover,
.header__icons-item--white:nth-child(1):focus {
  background-image: url(../images/icon/cabinet_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__icons-item--white:nth-child(2):hover,
.header__icons-item--white:nth-child(2):focus {
  background-image: url(../images/icon/heart_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__icons-item--white:nth-child(3):hover,
.header__icons-item--white:nth-child(3):focus {
  background-image: url(../images/icon/basket_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */
.mistake {
  background-image: url(../images/photos/404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  display: flex;
  min-height: 1142px;
  justify-content: flex-end;
  align-items: flex-end;
}
