/***************************************************              GENERAL RESET STYLES             ***************************************************/

:root {
  --main-font-color: #484847;
  --light-font-color: #fffbf5;
  --accent-color: #4b6049;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  /* display: block; */
}
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border-style: none;
  width: 100%;
}
form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input,
textarea,
select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
input::-webkit-input-placeholder {
  color: #000;
}
input:focus::-webkit-input-placeholder {
  color: #000;
}
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
#wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
/* .layout {
  display: block;
  position: relative;
  overflow: hidden;
  width: 1400px;
  margin: 0 auto;
} */
header,
main,
footer,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

footer {
  height: fit-content;
}

#content {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: 'Candara', normal;
  color: var(--main-font-color);
}
/* header */
.title-hidden {
  text-indent: -99999px;
}

.header {
  padding-top: 11px;
}
.layout {
  display: flex;
  width: 1074px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin: 0 auto;
}

.layout--column {
  flex-direction: column;
}
.header__layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__logo {
  margin-right: 57px;
}

.header__nav {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 14px;
  border-bottom: 1px solid var(--accent-color);
}
.header__nav-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 25px;
}

.header__nav-link {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.22;
  color: var(--main-font-color);
}
.header__nav-icon {
  display: block;
}
.header__icons {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 57px;
}
.header__icons-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.header__icons-item {
  transition: background-image 100ms var(--transition);
}

.header__icons-link {
  display: block;
  width: 40px;
  height: 40px;
}
.header__icons-item:nth-child(1) {
  background-image: url(../images/icon/cabinet.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(2) {
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(3) {
  background-image: url(../images/icon/basket.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__icons-item:nth-child(1):hover,
.header__icons-item:nth-child(1):focus {
  background-image: url(../images/icon/cabinet_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__icons-item:nth-child(2):hover,
.header__icons-item:nth-child(2):focus {
  background-image: url(../images/icon/heart_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__icons-item:nth-child(3):hover,
.header__icons-item:nth-child(3):focus {
  background-image: url(../images/icon/basket_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* first-view */

.first-view__layout {
  position: relative;
}

.first-view__image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 804px;
  z-index: 1;
  left: 44%;
  overflow: visible;
}

.first-view__img {
  position: absolute;
  display: block;
  width: 58%;
}

.first-view__text-wrapper {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.first-view__info-container {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 92px;
}

.first-view__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  width: 640px;
  font-family: 'Poiret One', normal;
  z-index: 2;
}

.first-view__subtitle {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
  width: 599px;
}

.button {
  background-color: var(--accent-color);
  display: block;
  align-items: center;
  color: var(--light-font-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 64px;
}

.first-view__catalog-btn {
  position: absolute;
  bottom: 20%;
}

.first-view__catalog-btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 219px;
  height: 59px;
  border: 2px solid var(--accent-color);
  top: -15%;
  right: -4%;
  box-sizing: border-box;
}

.arrow-fixed {
  display: block;
  position: fixed;
  right: 393px;
  top: 271px;
  z-index: 4;
}

.arrow-fixed__img {
  display: block;
  width: 100%;
  height: 100%;
}
/* new */
/* .new {
  min-height: 1060px;
} */

.new__layout {
  position: relative;
}

.new__image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 1060px;
  z-index: 1;
  overflow: visible;
}

.new__img {
  position: absolute;
  display: block;
}

.new__text-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.new__info-container {
  padding-top: 78px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 58px;
}
.new__title {
  font-family: 'Poiret One', normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;

  z-index: 2;
  position: relative;
  left: -211px;
}

.new__subtitle {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.22;
  width: 623px;
}
.new__button {
  position: absolute;
}

/* face-care */

.face-care__catalog {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face-care__catalog-btn {
  position: relative;
}

.face-care__catalog-btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 219px;
  height: 59px;
  border: 2px solid var(--accent-color);
  top: -15%;
  right: -4%;
  box-sizing: border-box;
}

.face-care__wrapper {
  display: flex;
  align-items: center;
  width: 1074px;
  margin: 37px auto 265px auto;
}

.face-care__list {
  display: flex;
  flex-direction: column;
  gap: 122px;
}
.face-care__list-item {
  display: flex;
  gap: 30px;
}
.face-care__list-item--reversed {
  flex-direction: row-reverse;
}
.face-care__list-item--extra-space {
  margin-bottom: 89px;
}
.face-care__image-wrapper {
  min-width: 522px;
}

.face-care__subtitle {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.22;
  margin-bottom: 12px;
}
.face-care__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
  margin-bottom: 25px;
}
.face-care__button {
  position: relative;
  z-index: 5;
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  border: 1.5px solid var(--main-font-color);
  padding: 13px 49px;
  width: fit-content;
}

.face-care__arrow-img {
  position: absolute;
  display: block;
  width: 70px;
  top: 45%;
  left: 85%;
}
.relative {
  position: relative;
  z-index: 6;
}
.face-care__button-wrapper {
  position: absolute;
  bottom: -40%;
  left: -25%;
}

.face-care__button--more {
  position: relative;
  z-index: 5;
}

.face-care__arrow-img--bottom {
  position: absolute;
  display: block;
  width: 12px;
  height: 35px;
  top: 70%;
  left: 50%;
}

/* footer */

.footer__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__social {
  justify-content: right;
  height: fit-content;
  padding-bottom: 8px;
}

.footer__bottom {
  background-color: var(--accent-color);
  padding-top: 38px;
  padding-bottom: 25px;
}

.footer__container {
  color: var(--light-font-color);
  position: relative;
  display: flex;
  align-items: flex-start;
}
.footer__logo {
  margin-right: 87px;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer__hour-container {
  margin-right: 39px;
}
.social__list {
  flex-direction: row;
  gap: 15px;
}

.footer__nav-container {
  margin-right: 53px;
}
.footer__nav-link,
.footer__nav-item {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  color: var(--light-font-color);
}

.social-link {
  display: block;
  width: 50px;
  height: 50px;
}

.social__item:nth-child(1) {
  background-image: url(../images/icon/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(2) {
  background-image: url(../images/icon/email.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(3) {
  background-image: url(../images/icon/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social__item:nth-child(4) {
  background-image: url(../images/icon/address.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(1):hover,
.social__item:nth-child(1):focus {
  background-image: url(../images/icon/instagram_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(2):hover,
.social__item:nth-child(2):focus {
  background-image: url(../images/icon/email_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(3):hover,
.social__item:nth-child(3):focus {
  background-image: url(../images/icon/phone_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social__item:nth-child(4):hover,
.social__item:nth-child(4):focus {
  background-image: url(../images/icon/address_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pay-icons__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.pay-icons__wrapper {
  position: absolute;
  top: 90%;
  left: 75%;
}

.pay-icons__item:nth-child(1) {
  width: 52px;
  height: 32px;
  background-image: url(../images/icon/mastercard.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pay-icons__item:nth-child(2) {
  width: 76px;
  height: 25px;
  background-image: url(../images/icon/visa.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pay-icons__item:nth-child(3) {
  width: 83px;
  height: 34px;
  background-image: url(../images/icon/apay.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pay-icons__item:nth-child(1):hover,
.pay-icons__item:nth-child(1):focus {
  background-image: url(../images/icon/mastercard_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pay-icons__item:nth-child(2):hover,
.pay-icons__item:nth-child(2):focus {
  background-image: url(../images/icon/visa_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pay-icons__item:nth-child(3):hover,
.pay-icons__item:nth-child(3):focus {
  background-image: url(../images/icon/apay_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
/* catalog page */

.catalog__content {
  display: flex;
}
.catalog__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.catalog__list-sort-link {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  border-bottom: 1px solid var(--main-font-color);
  position: relative;
}
.catalog__list-sort-link::after {
  content: '';
  background-image: url(../images/icon/expand.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 11px;
  height: 6px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -12px;
}
.catalog__content-wrapper {
  display: flex;
  gap: 8px;
}
.catalog__list-item {
  padding: 13px 13px 13px 11px;
}
/* left-filter */
.catalog__filter-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 47px;
  min-width: 226px;
}
.catalog__filtered-item:first-child {
  padding: 17px 0 0 0;
}

.catalog__filter-item-title {
  color: var(--main-font-color);
  font-weight: 600;
  font-size: 26px;
  line-height: 1.23;
  position: relative;
}

/* .catalog__filter-item-title::after {
  content: '';
  position: absolute;

} */

.catalog__filtered-item {
  display: flex;
}

.catalog__filtered-item:not(:last-child) {
  margin-bottom: 8px;
}

.catalog__checkbox {
  appearance: none;
  margin: 0;
}

.catalog__custom-icon {
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-font-color);
  display: inline-flex;
}
.catalog__filtered-label {
  display: flex;
}

.catalog__checkbox:checked + .catalog__custom-icon {
  background-image: url(../images/icon/inside_checkbox.png);
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__filtered-span {
  margin-left: 5px;
}
.catalog__filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog__filtered-label {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.2;
}

.catalog__filter-input-item {
  max-width: 90px;
  height: 45px;
}

.catalog__filter-input-item::placeholder {
  font-size: 20px;
  line-height: 1.2;
  color: rgba(72, 72, 71, 0.5);
  outline: none;
}

.catalog__filter-input-item::placeholder:active {
  color: rgba(72, 72, 71, 0.5);
}
.catalog__filter-input-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 7px 0 0 0;
}
.catalog__filter-input-span {
  width: 15px;
  height: 1px;
  background-color: var(--main-font-color);
}
/* main catalog of products */
.catalog__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.catalog__list-item {
  text-align: left;
  width: calc((100% - 60px) / 3);
  position: relative;
}

.catalog__link-fav {
  position: absolute;
  right: 11px;
  top: 11px;
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
}

.catalog__name-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-font-color);
  min-height: 60px;
  display: block;
}

.catalog__span {
  display: block;
  text-align: end;
  padding-right: 13px;
  padding-bottom: 13px;
}

.catalog__link-container {
  display: flex;
  justify-content: space-between;
}
.catalog__link-more {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-font-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 12px;
  margin-bottom: 11px;
}
.catalog__btn {
  position: relative;
  width: 101px;
  height: 29px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  color: var(--light-font-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 2px 23px;
  margin-right: 17px;
  margin-bottom: 9px;
}

.catalog__btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 101px;
  height: 29px;
  border: 1px solid var(--accent-color);
  top: -15%;
  right: -5%;
  box-sizing: border-box;
}
/* viewed */
.viewed__layout {
  margin-bottom: 85px;
  margin-top: 95px;
}
.viewed__wrapper {
  margin: 0 auto;
}
.viewed__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.23;
  color: var(--main-font-color);
  margin-bottom: 43px;
}
.viewed__list {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  align-items: center;
}
.viewed__item {
  max-width: 260px;
  height: 434px;
}
.viewed__link {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-font-color);
}
.viewed__img {
  display: block;
  width: 100%;
  height: auto;
  padding: 13px;
}
.viewed__text {
  padding-right: 48px;
}

.gratitude__section {
  height: 642px;
  background-image: url(../images/photos/tnanks.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.gratitude__wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  min-height: 140px;
  width: 749px;
  padding: 60px;
  align-items: center;
  background-color: rgba(75, 96, 73, 0.38);
  backdrop-filter: blur(7.5px);
}

.gratitude__title {
  color: var(--light-font-color);
  font-family: 'Poiret One', normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.17;
}
.gratitude__text {
  color: var(--light-font-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 1.23;
}
