.blog__arrow-back {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-bottom: 18px;
}

.blog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blog__title {
  color: var(--black-color);
  font-weight: 600;
  font-size: 40px;
  line-height: 1.23;
}
.blog__description {
  display: flex;
  gap: 22px;
}
.blog__img {
  width: 500px;
}

.blog__text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog__text-container--up {
  padding-top: 40px;
}
.blog__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}
