.callback__container {
  background-image: url(../images/photos/contacts_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 608px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.callback__list-wrapper {
  background-color: rgba(75, 96, 73, 0.38);
  backdrop-filter: blur(7.5px);
  height: 390px;
  width: 582px;
  padding: 20px;
  margin: 109px 472px 109px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.callback__title,
.callback__text {
  font-family: 'Poiret One', normal;
  color: var(--light-font-color);
  font-weight: 400;
}

.callback__title {
  font-size: 60px;
  line-height: 1.17;
}

.callback__text {
  font-size: 40px;
  line-height: 1.18;
}
