/* catalog page */

.catalog__content {
  display: flex;
}
.catalog__layout {
  padding-bottom: 110px;
}
.catalog__list-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__list-sort-link {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  border-bottom: 1px solid var(--main-font-color);
  position: relative;
  margin-bottom: 23px;
}

.catalog__list-sort-link::after {
  content: '';
  background-image: url(../images/icon/expand.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 11px;
  height: 6px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -12px;
}
.catalog__content-wrapper {
  display: flex;
  gap: 8px;
}
.catalog__list-item {
  padding: 13px 13px 9px 13px;
  box-sizing: border-box;
}

.catalog__img {
  width: 100%;
  height: auto;
}

.catalog__list-item:hover,
.catalog__list-item:focus {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* left-filter */
.catalog__filter-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 47px;
  min-width: 226px;
}
.catalog__filtered-item:first-child {
  padding: 17px 0 0 0;
}

.catalog__filter-item-title {
  color: var(--main-font-color);
  font-weight: 600;
  font-size: 26px;
  line-height: 1.23;
  position: relative;
}

.catalog__filtered-item {
  display: flex;
}

.catalog__filtered-item:not(:last-child) {
  margin-bottom: 8px;
}

.catalog__checkbox {
  appearance: none;
  margin: 0;
}

.catalog__custom-icon {
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-font-color);
  display: inline-flex;
}
.catalog__filtered-label {
  display: flex;
}

.catalog__checkbox:checked + .catalog__custom-icon {
  background-image: url(../images/icon/inside_checkbox.png);
  background-position: center;
  background-repeat: no-repeat;
}

.catalog__filtered-span {
  margin-left: 5px;
}
.catalog__filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog__filtered-label {
  font-weight: 200;
  font-size: 20px;
  line-height: 1.2;
}

.catalog__filter-input-item {
  max-width: 90px;
  height: 45px;
}

.catalog__filter-input-item::placeholder {
  font-size: 20px;
  line-height: 1.2;
  color: rgba(72, 72, 71, 0.5);
  outline: none;
}

.catalog__filter-input-item::placeholder:active {
  color: rgba(72, 72, 71, 0.5);
}
.catalog__filter-input-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 7px 0 0 0;
}
.catalog__filter-input-span {
  width: 15px;
  height: 1px;
  background-color: var(--main-font-color);
}
/* main catalog of products */

.catalog__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 43px;
}

.catalog__list-item {
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-align: left;
  width: calc((100% - 60px) / 3);
  position: relative;
}

.catalog__link-fav {
  position: absolute;
  right: 11px;
  top: 11px;
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  transition: background-image 250ms var(--transition);
}

.catalog__link-fav:hover {
  background-image: url(../images/icon/heart_hover_favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.catalog__link-fav:active {
  background-image: url(../images/icon/heart_active_favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.catalog__name-link,
.viewed__name-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-font-color);
  min-height: 60px;
  display: block;
}

.catalog__span,
.viewed__span {
  display: block;
  text-align: end;
  /* padding-right: 13px;
  padding-bottom: 13px; */
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.catalog__link-container,
.viewed__link-container {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}
.catalog__link-more,
.viewed__link-more {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-font-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  margin-left: 12px;
  margin-bottom: 11px;
}
.catalog__btn,
.viewed__btn {
  position: relative;
  width: 97px;
  height: 25px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-font-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 2px 16px;

  /* margin-right: 17px;
  margin-bottom: 9px; */
}

/* .catalog__btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 101px;
  height: 29px;
  border: 1px solid var(--accent-color);
  top: -15%;
  right: -5%;
  box-sizing: border-box;
} */
.catalog__button-container {
  margin: 0 auto;
}

/* viewed */
.viewed__layout {
  padding-bottom: 87px;
  overflow: visible;
}

.viewed__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.23;
  color: var(--main-font-color);
  margin-bottom: 43px;
}
.viewed__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 11px;
  /* align-items: center; */
}
.viewed__list--recommended {
  gap: 70px;
  padding: 0 77px;
}
.viewed__item {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 260px;
  height: 400px;
  position: relative;
  padding: 13px 13px 9px 13px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.viewed__img {
  display: block;
  width: 100%;
  /* height: auto; */
  /* padding: 13px; */
}
.viewed__name-link {
  /* padding-right: 48px; */
  display: block;
  min-height: 60px;
  font-size: 20px;
  line-height: 1.5;
}
.viewed__description {
}
.viewed__link-container {
  opacity: 0;
}

.viewed__item:hover,
.viewed__item:focus {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.viewed__item:hover .viewed__link-container,
.viewed__item:focus .viewed__link-container {
  opacity: 1;
}
.viewed__item:hover .viewed__link-fav {
  position: absolute;
  right: 11px;
  top: 11px;
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  transition: background-image 250ms var(--transition);
}
