/***************************************************              GENERAL RESET STYLES             ***************************************************/

/* fonts */
/* Light Candara */
@font-face {
  font-family: 'Candara';
  src: url(../assets/fonts/candara_light.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}
/* regular Candara */
@font-face {
  font-family: 'Candara';
  src: url(../assets/fonts/candara.ttf) format('opentype');
  font-weight: 600;
  font-style: normal;
}
:root {
  --main-font-color: #484847;
  --light-font-color: #fffbf5;
  --accent-color: #4b6049;
  --grey-font-color: #b2b2b2;
  --black-color: #000000;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border: 3px solid #ffffff;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  /* display: block; */
}
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border-style: none;
  width: 100%;
}
form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input,
textarea,
select {
  vertical-align: middle;
  color: #000;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* input::-webkit-input-placeholder {
  color: #000;
}
input:focus::-webkit-input-placeholder {
  color: #000;
} */
/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
/* #wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
} */

header,
main,
footer,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

footer {
  height: fit-content;
}

body {
  font-family: 'Candara', normal;
  color: var(--main-font-color);
}
/* header */
.title-hidden {
  text-indent: -99999px;
}

.header {
  padding-top: 11px;
}
.layout {
  /* display: flex; */
  width: 1074px;
  /* margin-left: auto;
  margin-right: auto; */
  /* align-items: center; */
  margin: 0 auto;
  padding: 0 15px;
}

.layout--column {
  flex-direction: column;
}
.header__layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  margin-right: 57px;
}

.header__nav {
  display: flex;
  justify-content: center;
  padding: 0 14px;
  border-bottom: 1px solid var(--accent-color);
  height: fit-content;
}

.header__nav-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 25px;
}

.header__nav-link {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.22;
  color: var(--main-font-color);
}
.header__nav-icon {
  display: block;
}
.header__icons {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 57px;
}
.header__icons-list {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
}
.header__icons-item {
  transition: background-image 250ms var(--transition);
}

.header__icons-link {
  display: block;
  width: 40px;
  height: 40px;
}
.header__icons-item:nth-child(1) {
  background-image: url(../images/icon/cabinet.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(2) {
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(3) {
  background-image: url(../images/icon/basket.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__icons-item:nth-child(1):hover,
.header__icons-item:nth-child(1):focus {
  background-image: url(../images/icon/cabinet_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__icons-item:nth-child(2):hover,
.header__icons-item:nth-child(2):focus {
  background-image: url(../images/icon/heart_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.header__icons-item:nth-child(3):hover,
.header__icons-item:nth-child(3):focus {
  background-image: url(../images/icon/basket_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button {
  background-color: var(--accent-color);
  display: block;
  align-items: center;
  color: var(--light-font-color);
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  width: 219px;
  height: 59px;
}

.arrow__fixed {
  display: block;
  position: fixed;
  right: 10%;
  top: 90%;
  z-index: 4;
}

.arrow__fixed-img {
  display: block;
  width: 100%;
  height: 100%;
}

.button__more {
  display: block;
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  border: 2px solid var(--main-font-color);
  padding: 13px 49px;
  width: fit-content;
}
.button__more--right {
  position: relative;
}

.button__more--right::after {
  right: -40px;
  content: url(../images/icon/arrow-right.png);
  position: absolute;
  transition: opacity 250ms var(--transition);
  opacity: 0;
}

.button__more--right:hover::after {
  top: 15px;
  opacity: 1;
}

.button__more--bottom {
  position: relative;
}

.button__more--bottom::after {
  content: url(../images/icon/arrow-bottom.png);
  position: absolute;
  opacity: 0;
  left: 95px;
  transition: opacity var(--transition);
}

.button__more--bottom:hover:after {
  top: 38px;
  opacity: 1;
}

/* footer */

.footer__layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__social {
  justify-content: right;
  height: fit-content;
  padding-bottom: 8px;
}

.footer__bottom {
  background-color: var(--accent-color);
  padding-top: 38px;
  padding-bottom: 25px;
}

.footer__container {
  color: var(--light-font-color);
  position: relative;
  display: flex;
  align-items: flex-start;
}
.footer__logo {
  margin-right: 87px;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.footer__hour-container {
  margin-right: 39px;
}
.social__list {
  flex-direction: row;
  gap: 15px;
  justify-content: end;
}

.footer__nav-container {
  margin-right: 53px;
}
.footer__nav-link,
.footer__nav-item {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  color: var(--light-font-color);
}

.social-link {
  display: block;
  width: 50px;
  height: 50px;
  transition: background-image 250ms var(--transition);
}

.social__item:nth-child(1) {
  background-image: url(../images/icon/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(2) {
  background-image: url(../images/icon/email.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(3) {
  background-image: url(../images/icon/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social__item:nth-child(4) {
  background-image: url(../images/icon/address.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(1):hover,
.social__item:nth-child(1):focus {
  background-image: url(../images/icon/instagram_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(2):hover,
.social__item:nth-child(2):focus {
  background-image: url(../images/icon/email_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(3):hover,
.social__item:nth-child(3):focus {
  background-image: url(../images/icon/phone_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social__item:nth-child(4):hover,
.social__item:nth-child(4):focus {
  background-image: url(../images/icon/address_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pay-icons__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}
.pay-icons__wrapper {
  position: absolute;
  top: 90%;
  left: 75%;
}

.pay-icons__item:nth-child(1) {
  width: 52px;
  height: 32px;
  background-image: url(../images/icon/mastercard.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pay-icons__item:nth-child(2) {
  width: 76px;
  height: 25px;
  background-image: url(../images/icon/visa.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pay-icons__item:nth-child(3) {
  width: 83px;
  height: 34px;
  background-image: url(../images/icon/apay.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.pay-icons__item:nth-child(1):hover,
.pay-icons__item:nth-child(1):focus {
  background-image: url(../images/icon/mastercard_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pay-icons__item:nth-child(2):hover,
.pay-icons__item:nth-child(2):focus {
  background-image: url(../images/icon/visa_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.pay-icons__item:nth-child(3):hover,
.pay-icons__item:nth-child(3):focus {
  background-image: url(../images/icon/apay_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
