.delivery__container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 70px 0;
}

.delivery__item {
  max-width: 950px;
  display: flex;
  flex-direction: column;
}
.delivery__title {
  align-self: flex-end;
}
.delivery__title {
  background-color: var(--accent-color);
  width: 398px;
  height: 120px;
  display: flex;
  padding: 0 0 0 47px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
}
.delivery__title--reversed {
  align-self: flex-start;
}
.delivery__title-text {
  color: var(--light-font-color);
  font-size: 26px;
  font-weight: 600;
  line-height: 1.23;
}
.delivery__details {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent-color);
  overflow: hidden;
  padding: 29px;
  gap: 30px;
  max-height: 448px;
  overflow-y: auto;
}

.delivery__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--light-font-color);
}
.delivery__text {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.delivery__details::-webkit-scrollbar {
  width: 20px;
}

.delivery__details::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border: 3px solid #ffffff;
}
