/* light Candara */
@font-face {
  font-family: 'Candara';
  src: url(../fonts/candara-light.ttf);
  font-weight: normal;
  font-style: normal;
}
/* regular Candara */
@font-face {
  font-family: 'Candara';
  src: url(../fonts/Candara.ttf);
  font-weight: normal;
  font-style: normal;
}
