/* light Candara */
@font-face {
  font-family: 'Candara';
  src: url(../assets/fonts/candara_light.ttf) format('opentype');
  font-weight: 400;
  font-style: normal;
}
/* regular Candara */
@font-face {
  font-family: 'Candara';
  src: url(../assets/fonts/candara.ttf) format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* @font-face {
  font-family: 'candara';
  src: url(../fonts/candara.ttf) format('truetype');
}; */
