/* first-view */

.first-view__layout {
  position: relative;
}

.first-view__image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 804px;
  z-index: 1;
  left: 44%;
  overflow: visible;
}

.first-view__img {
  position: absolute;
  display: block;
  width: 58%;
}

.first-view__text-wrapper {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.first-view__info-container {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 92px;
}

.first-view__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  width: 640px;
  font-family: 'Poiret One', normal;
  z-index: 2;
}

.first-view__subtitle {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
  width: 599px;
}

.first-view__catalog-btn {
  padding: 10px 64px;
  position: absolute;
  bottom: 20%;
}

.first-view__catalog-btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 219px;
  height: 59px;
  border: 2px solid var(--accent-color);
  top: -15%;
  right: -4%;
  box-sizing: border-box;
}

/* new */

.new__layout {
  position: relative;
}

.new__image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 1060px;
  z-index: 1;
  overflow: visible;
}

.new__img {
  position: absolute;
  display: block;
}

.new__text-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.new__info-container {
  padding-top: 78px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 58px;
}
.new__title {
  font-family: 'Poiret One', normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  z-index: 2;
  position: relative;
  left: -211px;
}

.new__subtitle {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.22;
  width: 623px;
}
.new__button {
  position: absolute;
}

/* face-care */

.face-care__catalog {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.face-care__catalog-btn {
  position: relative;
  padding: 10px 64px;
}

.face-care__catalog-btn::after {
  content: '';
  display: block;
  position: absolute;
  width: 219px;
  height: 59px;
  border: 2px solid var(--accent-color);
  top: -15%;
  right: -4%;
  box-sizing: border-box;
}

.face-care__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1074px;
  /* margin: 37px auto 265px auto; */
}
.face-care__info-wrapper {
  min-width: 522px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.face-care__list {
  display: flex;
  flex-direction: column;
  gap: 122px;
}
.face-care__list-item {
  display: flex;
  gap: 30px;
  width: 100%;
  height: fit-content;
}
.face-care__list-item--reversed {
  flex-direction: row-reverse;
}
.face-care__list-item--extra-space {
  margin-bottom: 89px;
}
.face-care__image-wrapper {
  min-width: 522px;
}

.face-care__subtitle {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.22;
}
.face-care__text {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
}

.face-care__button-container {
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
}
.face-care__arrow-img--bottom {
  position: absolute;
  display: block;
  width: 12px;
  height: 35px;
  top: 70%;
  left: 50%;
}
