/* product */
.product {
  display: flex;
  flex-direction: column;
}

.product__details {
  margin-bottom: 50px;
}

.product__arrow-back {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-bottom: 18px;
}

.product__tabs {
  margin-bottom: 35px;
}

.product__extended-info {
  margin-bottom: 68px;
  display: none;
}

.product__extended-info--active {
  display: block;
}

.product-info {
  display: flex;
  gap: 62px;
}

.product-info__img {
  width: 460px;
  height: 410px;
  display: block;
}

.product-info__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-info__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
}
.product-info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 34px;
}
.product-info__rate {
  background-image: url(../images/icon/rate.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 20px;
}

.product-info__price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}

.product-info__order-container {
  display: flex;
  justify-content: space-between;
}

.product-info__input {
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.5;
  width: 86px;
  height: 49px;
  border: 1px solid var(--main-font-color);
  padding: 5px 17px;
}
.product-info__price-amount {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
}
.product-info__btn {
  padding: 10px 62px;
}

.product-info__price-fav {
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  transition: background-image 250ms var(--transition);
}

.product-info__price-fav:hover {
  background-image: url(../images/icon/heart_hover_favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.description-tabs {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 85px;
}

.description-tabs__item--active {
  border-bottom: 1px solid var(--main-font-color);
}

.description-tabs__btn {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
}
.ingredients__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.feedbacks {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.feedebacks__btn-more {
  margin: 0 auto;
}
.feedbacks__all {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feedbacks__all-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1000px;
  min-height: 72px;
  border-bottom: 1px solid var(--main-font-color);
}
.feedbacks__name {
  display: flex;
  flex-direction: column;
  width: 106px;
  height: 62px;
  padding: 0 10px 0 0;
}
.feedbacks__name-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.23;
}
.feedbacks__name-date,
.feedbacks__rate {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  max-width: 444px;
}
.feedbacks__stars-five {
  background-image: url(../images/icon/rate5.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 20px;
  align-self: center;
}
.feedbacks__stars-four {
  background-image: url(../images/icon/rate.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 20px;
  align-self: center;
}
.viewed__layout {
  padding-bottom: 87px;
  overflow: visible;
}
.feedbacks__stars {
  margin-right: 27px;
}
.viewed__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.23;
  color: var(--main-font-color);
  margin-bottom: 43px;
}
.viewed__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 11px;
}
.viewed__list--recommended {
  gap: 70px;
  padding: 0 77px;
  flex-wrap: nowrap;
}
.viewed__item {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 260px;
  height: 400px;
  position: relative;
  padding: 13px 13px 9px 13px;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.viewed__img {
  display: block;
  width: 100%;
}
.viewed__name-link {
  display: block;
  min-height: 60px;
  font-size: 20px;
  line-height: 1.5;
}

.viewed__span {
  display: block;
  text-align: end;
  color: var(--main-font-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.viewed__name-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-font-color);
  min-height: 60px;
}

.viewed__link-container {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}

.viewed__link-more {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--main-font-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
}

.viewed__btn {
  position: relative;
  width: 97px;
  height: 25px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-font-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 2px 16px;
}

.viewed__link-container {
  opacity: 0;
}

.viewed__item:hover,
.viewed__item:focus {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.viewed__item:hover .viewed__link-container,
.viewed__item:focus .viewed__link-container {
  opacity: 1;
}
.viewed__item:hover .viewed__link-fav {
  position: absolute;
  right: 11px;
  top: 11px;
  background-image: url(../images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  transition: background-image 250ms var(--transition);
}
