@mixin font($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin flex-list($gap: 30px) {
  display: flex;
  align-items: center;
  gap: $gap;
}
@mixin mobile {
  @media screen and (min-width: 360px) {
    @content;
  }
}
