$color-white: #ffffff;
$color-main-font: #484847;
$color-light-font: #fffbf5;
$color-accent: #4b6049;
$color-grey-font: #b2b2b2;
$color-black: #000000;
$color-grey-font-placeholder: #b3b3b2;
$transition: cubic-bezier(0.4, 0, 0.2, 1);
