.contacts {
  &__container {
    background-image: url(../assets/images/photos/contacts_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    // background-size: cover;
    height: 608px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  &__list-wrapper {
    background-color: rgba(75, 96, 73, 0.38);
    backdrop-filter: blur(7.5px);
    height: 390px;
    width: 582px;
    padding: 20px;
    margin: 109px 472px 109px 20px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__item {
    @include font(20px, 400, 1.2);
    color: $color-light-font;
    position: relative;
    &:last-child {
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 490px;
        background-color: $color-light-font;
        bottom: -30px;
      }
    }
    &:first-of-type {
      @include font(26px, 400, 1.23);
    }
    &:nth-child(4) {
      padding-top: 30px;
    }
  }
  &__item-tel {
    color: $color-light-font;
  }
  &__form {
    margin-top: 60px;
    width: 276px;
    display: flex;
    gap: 39px;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__form-input {
    border: 1px solid $color-light-font;
    font-family: 'Candara';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: $color-light-font;
    background: transparent;
    padding: 10px 15px;
    height: 50px;
    &:focus {
      outline: none;
      color: $color-grey-font;
    }
    &::placeholder {
      color: $color-grey-font;
      height: 30px;
      &:focus {
        color: $color-grey-font;
      }
    }
  }
  &__form-btn {
    font-family: inherit;
    padding: 10px 32px;
    align-self: end;
    border-style: none;
    &::after {
      content: '';
      border: 1px solid $color-light-font;
    }
  }

  .callback__container {
    display: none;
  }

  &.form-submitted {
    .callback__container {
      display: flex;
    }

    .contacts__container {
      display: none;
    }
  }
}

@include from768to1023 {
  .layout {
    width: 768px;
    padding: 0;
  }
  .contacts {
    &__container {
      height: fit-content;
    }
    &__list-wrapper {
      margin-top: 2rem;
      margin-right: 10rem;
      width: 75%;
    }
    &__item {
      @include font(16px, 400, 1.2);

      &:first-of-type {
        @include font(18px, 400, 1.2);
      }
      &:nth-child(4) {
        padding-top: 30px;
      }
    }
    &__form-input {
      @include font(18px, 400, 1.2);
      height: 40px;
    }
  }
  .button:hover::after {
    height: 52px;
  }
}

@include from480to767 {
  .layout {
    width: 480px;
    padding: 0;
  }
  .contacts {
    &__container {
      background-image: url(/src/assets/images/photos/contacts_background_mob.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 340px;
      width: 480px;
    }
    &__list-wrapper {
      width: 28rem;
      margin: 10px 15px;
      height: 320px;
    }
    &__item {
      @include font(14px, 400, 1.2);
      &:first-of-type {
        @include font(20px, 400, 1.2);
      }
      &:nth-child(4) {
        padding-top: 10px;
      }
    }
    &__form-input {
      @include font(14px, 400, 1.2);
      height: 27px;
      width: 214px;
    }
    &__form {
      margin-top: 60px;
      width: 276px;
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    &__form-btn {
      align-self: baseline;
      margin-top: 15px;
    }
  }
  .contacts__form-btn {
    @include font(18px, 400, 1.2);
    width: 165px;
    height: 35px;
    margin-top: 10px;
    &::after {
      width: 168px;
      height: 37px;
    }
    &:hover::after {
      top: -1px;
      right: -1px;
      height: 36px;
    }
  }
}

@include from320to479 {
  .layout {
    width: 320px;
    padding: 0;
  }
  .contacts__form-btn {
    @include font(20px, 400, 1.5);
    width: 132px;
    height: 46px;
    &::after {
      width: 132px;
      height: 46px;
    }
    &:hover::after {
      top: -1px;
      right: -1px;
      height: 48px;
    }
  }
  .contacts {
    &__container {
      background-image: url(/src/assets/images/photos/contacts_background_mob.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 340px;
      width: 320px;
      &__item {
        @include font(14px, 400, 1.2);
        &:first-of-type {
          @include font(18px, 400, 1.2);
        }
        &:nth-child(4) {
          padding-top: 10px;
        }
      }
      &__form-input {
        @include font(14px, 400, 1.2);
        height: 27px;
        width: 214px;
      }
      &__form {
        margin-top: 60px;
        width: 276px;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      &__form-btn {
        align-self: baseline;
        margin-top: 10px;
      }
    }
  }
}
