.delivery {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 70px 0;
  }
  &__item {
    max-width: 950px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    background-color: $color-accent;
    width: 398px;
    height: 120px;
    display: flex;
    padding: 0 0 0 47px;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    &--reversed {
      align-self: flex-start;
    }
  }
  &__title-text {
    color: $color-light-font;
    @include font(26px, 600, 1.23);
  }
  &__details {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-accent;
    overflow: hidden;
    padding: 29px;
    gap: 30px;
    max-height: 448px;
    overflow-y: auto;
  }
  &__subtitle {
    @include font(20px, 400, 1.5);
    color: $color-light-font;
  }
  &__text {
    color: $color-main-font;
    @include font(20px, 400, 1.2);
  }
}

@include from768to1023 {
  .layout {
    width: 768px;
  }
  .delivery {
    &__container {
      gap: 50px;
      padding: 20px 0;
      align-items: baseline;
    }
    &__item {
      max-width: 700px;
      display: flex;
      flex-direction: column;
    }
    &__title {
      background-color: $color-accent;
      width: 310px;
      height: 120px;
      display: flex;
      padding: 0 0 0 27px;
      gap: 5px;
      flex-direction: column;
      justify-content: center;
      align-self: flex-end;
      &--reversed {
        align-self: flex-start;
      }
    }
    &__subtitle {
      @include font(18px, 400, 1.5);
      color: $color-light-font;
    }
    &__text {
      color: $color-main-font;
      @include font(16px, 400, 1.2);
    }
  }
}
@include from480to767 {
  .layout {
    width: 480px;
  }
  .delivery {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 70px 0;
    }
    &__item {
      max-width: none;
      display: flex;
      flex-direction: column;
    }
    &__title {
      width: 100%;
      height: 100px;
    }
    &__title-text {
      @include font(26px, 600, 1.23);
    }

    &__subtitle {
      @include font(16px, 400, 1.5);
    }
    &__text {
      @include font(14px, 400, 1.2);
    }
  }
}
@include from320to479 {
  .layout {
    width: 320px;
  }
  .delivery {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 70px 0;
    }
    &__item {
      max-width: none;
      display: flex;
      flex-direction: column;
    }
    &__title {
      width: 100%;
      height: 100px;
    }
    &__title-text {
      @include font(20px, 600, 1.2);
    }

    &__subtitle {
      @include font(14px, 400, 1.2);
    }
    &__text {
      @include font(12px, 400, 1.1);
    }
  }
}
