.header {
  &__nav-link {
    &--white {
      color: var(--color-light-font);
    }
  }
  &__nav {
    &--white {
      border-bottom: 1px solid var(--color-light-font);
    }
  }
  &__icons-item {
    &--white {
      &:nth-child(1) {
        background-image: url(../../assets/images/icon/white_cabinet.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
      &:nth-child(2) {
        background-image: url(../../assets/images/icon/white_heart.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
      &:nth-child(3) {
        background-image: url(../../assets/images/icon/white_basket.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.mistake {
  background-image: url(../../assets/images/photos/404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.error-main {
  display: flex;
  min-height: 1142px;
  justify-content: flex-end;
  align-items: flex-end;
}
