.blog {
  &__arrow-back {
    display: flex;
    justify-content: left;
    width: 100%;
    margin-bottom: 18px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 68px;
  }
  &__title {
    color: $color-black;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.23;
  }
  &__description {
    display: flex;
    gap: 22px;
  }
  &__img {
    width: 500px;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--up {
      padding-top: 40px;
    }
  }
  &__text {
    @include font(20px, 400, 1.2);
  }
  &__description {
    &--margin {
      margin-top: 42px;
    }
  }
}
