.cabinet {
  &__container {
    @include flex-list(22px);
    flex-direction: column;
    padding: 56px 0 10px 0;
    width: 100%;
    min-height: 607px;
  }

  &__title {
    color: $color-main-font;
    @include font(40px, 400, 1.23);
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 470px;
    width: 928px;
  }

  &__tab-list {
    display: flex;
    gap: 43px;
    margin-bottom: 39px;
  }

  &__link {
    color: $color-main-font;
    @include font(26px, 400, 1.23);
  }
  &__form-wrapper {
    display: none;
    flex-direction: column;
    gap: 51px;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    gap: 192px;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 368px;
  }
  &__form-label {
    @include font(20px, 400, 1.5);
  }
  &__form-input {
    font-family: 'Candara';
    @include font(20px, 400, 1.5);
    color: $color-main-font;
    width: 100%;
    height: 50px;
    padding: 10px 10px 10px 10px;
  }
  &__form-item {
    &--last {
      margin-top: 30px;
    }
  }
  &__form-btn {
    padding: 13px 73px 13px 73px;
  }
  &__save-btn {
    position: relative;
    padding: 10px 57px 10px 57px;
  }
  &__item {
    &--active {
      border-bottom: 1px solid $color-main-font;
      .cabinet__link {
        font-weight: 600;
      }
    }
  }
  &__tab-content {
    &--active {
      &.cabinet__tab-content {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
input[type='date'] {
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

// addressbook

.addressbook {
  display: none;
  &__form {
    display: flex;
    justify-content: space-between;
  }
  &_left-wrapper {
    display: flex;
    gap: 21px;
    flex-direction: column;
  }
  &__left-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &__links {
    display: flex;
    gap: 8px;
  }
  &__link {
    color: $color-main-font;
    text-decoration: underline;
    @include font(18px, 400, 1.5);
  }
  &__right-block {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  &__text {
    @include font(20px, 600, 1.2);
  }
  &__right-wrapper {
    max-width: 368px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__title {
    @include font(20px, 600, 1.2);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
  }
  &__input-wrapper {
    display: flex;
    gap: 34px;
  }
  &__input {
    font-family: 'Candara';
    @include font(20px, 400, 1.5);
    color: $color-grey-font-placeholder;
    height: 50px;
    width: 100%;
    padding: 0px 5px;
  }
  &::placeholder {
    font-family: 'Candara';
    @include font(20px, 400, 1.5);
    color: $color-grey-font-placeholder;
  }
}
/* wishlist */

.wishlist {
  display: none;
  max-height: 297px;
  padding-top: 38px;
  &__list {
    display: flex;
    padding: 0 48px 0 0;
    overflow-y: auto;
    flex-direction: column;
    min-height: 297px;
  }
  &__list-item {
    padding: 9px 52px 9px 0;
    width: 100%;
    border-bottom: 1px solid $color-accent;
    display: flex;
    height: 98px;
  }
  &__img {
    width: 80px;
    height: 80px;
    display: block;
    margin-right: 18px;
  }
  &__item-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    width: 161px;
  }
  &__rate {
    width: 100px;
  }
  &__amount {
    @include font(18px, 400, 1.5);
  }
  &__title {
    @include font(20px, 600, 1.2);
    width: 240px;
    margin-right: 40px;
    color: $color-main-font;
  }
  &__price {
    @include font(20px, 600, 1.2);
    width: 120px;
    margin-right: 28px;
  }
  &__action {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  &__remove-btn {
    @include font(18px, 400, 1.5);
    color: $color-main-font;
    text-decoration: underline;
  }
}

.history {
  display: none;
  margin-right: -88px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    margin-bottom: 59px;
  }
  &__item {
    width: calc(50% - 42px);
  }
  &__order-number {
    @include font(20px, 400, 1);
    margin-bottom: 10px;
  }
  &__order-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__order-date {
    width: max-content;
  }
  &__order-status {
    width: max-content;
  }
  &__order-text {
    @include font(20px, 400, 1);
  }
  &__order-amount {
    @include font(20px, 400, 1);
    text-align: right;
  }
  &__products-list {
    max-height: 305px;
    overflow-y: auto;
    padding-right: 20px;
    margin-bottom: 14px;
  }
  &__product-item {
    height: 98px;
    padding: 9px 0;
    border-style: solid;
    border-color: $color-accent;
    border-width: 1px 0;
    margin-bottom: 5px;
    display: flex;
  }
  &__product-image {
    width: 80px;
    height: 80px;
    display: block;
    margin-right: 9px;
  }
  &__product-title {
    @include font(20px, 400, 1);
  }
  &__product-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 209px;
    margin-right: 10px;
  }
  &__product-amount {
    @include font(20px, 600, 1);
  }
  &__product-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  &__product-price {
    @include font(20px, 600, 1.2);
  }
  &__product-rate {
    width: 100px;
    position: relative;
    left: 20px;
  }
  &__more-button {
    margin: 0 auto;
  }
  &__more {
    margin-bottom: 64px;
  }
}
