.delivery {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 70px 0;
  }
  &__item {
    max-width: 950px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    background-color: var(--color-accent);
    width: 398px;
    height: 120px;
    display: flex;
    padding: 0 0 0 47px;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    &--reversed {
      align-self: flex-start;
    }
  }
  &__title-text {
    color: var(--color-light-font);
    @include font(26px, 600, 1.23);
  }
  &__details {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-accent);
    overflow: hidden;
    padding: 29px;
    gap: 30px;
    max-height: 448px;
    overflow-y: auto;
  }
  &__subtitle {
    @include font(20px, 400, 1.5);
    color: var(--color-light-font);
  }
  &__text {
    color: var(--color-main-font);
    @include font(20px, 400, 1.2);
  }
}
