.button {
  background-color: $color-accent;
  display: block;
  align-items: center;
  color: $color-light-font;
  @include font(26px, 400, 1.5);
  width: 219px;
  height: 59px;
  padding: 10px;
  text-align: center;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 219px;
    height: 59px;
    border: 2px solid $color-accent;
    top: -15%;
    right: -4%;
    box-sizing: border-box;
    transition: all 250ms $transition;
    z-index: -1;
  }
  &:hover::after {
    top: -1px;
    right: -1px;
    height: 61px;
  }
  @include from768to1023 {
    @include font(20px, 400, 1.5);
    width: 180px;
    height: 50px;
    &::after {
      width: 180px;
      height: 50px;
    }
  }
  @include from480to767 {
    @include font(20px, 400, 1.5);
    width: 160px;
    height: 52px;
    &::after {
      width: 160px;
      height: 52px;
    }
  }
  @include from320to479 {
    @include font(20px, 400, 1.5);
    width: 132px;
    height: 46px;
    &::after {
      width: 132px;
      height: 46px;
    }
  }
}

.button-link {
  color: $color-main-font;
  text-decoration: underline;
  @include font(18px, 400, 1.5);
}

.button-small {
  position: relative;
  @include font(14px, 400, 1.5);
  width: 97px;
  height: 25px;
  background-color: $color-accent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-light-font;
  padding: 2px 16px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 97px;
    height: 25px;
    border: 1px solid $color-accent;
    top: -15%;
    right: -4%;
    box-sizing: border-box;
    transition: all 250ms $color-accent;
  }
  &:hover::after {
    top: 0;
    right: 0;
  }
}

.button-more {
  display: block;
  color: $color-main-font;
  @include font(20px, 400, 1.2);
  border: 2px solid $color-main-font;
  padding: 13px 49px;
  width: fit-content;
  &--right {
    position: relative;
    &::after {
      right: -40px;
      content: url(../../assets/images/icon/arrow-right.png);
      position: absolute;
      transition: opacity 250ms $transition;
      opacity: 0;
    }
    &:hover::after {
      top: 15px;
      opacity: 1;
    }
  }
  &--bottom {
    position: relative;
    &::after {
      content: url(../../assets/images/icon/arrow-bottom.png);
      position: absolute;
      opacity: 0;
      left: 95px;
      transition: opacity 250ms $transition;
    }
    &:hover:after {
      top: 38px;
      opacity: 1;
    }
  }
}

.button-more {
  display: block;
  color: $color-main-font;
  @include font(20px, 400, 1.2);
  border: 2px solid $color-main-font;
  padding: 13px 49px;
  width: fit-content;
  &--right {
    position: relative;
    transition: all 250ms $transition;
    &:hover::after {
      top: 15px;
      opacity: 1;
    }
  }
  &::after {
    right: -40px;
    content: url(../../assets/images/icon/arrow-right.png);
    position: absolute;
    transition: opacity 250ms $transition;
    opacity: 0;
  }
  &--bottom {
    position: relative;
    &:after {
      content: url(../../assets/images/icon/arrow-bottom.png);
      position: absolute;
      opacity: 0;
      left: 95px;
      transition: opacity 250ms $transition;
    }
    &:hover:after {
      top: 38px;
      opacity: 1;
    }
  }
}

@include from480to767 {
  .button-more {
    @include font(20px, 400, 1.2);
    padding: 10px 20px;
  }
}

@include from320to479 {
  .button-more {
    @include font(20px, 400, 1.2);
    padding: 10px 20px;
  }
}
