.button {
  background-color: var(--color-accent);
  display: block;
  align-items: center;
  color: var(--color-light-font);
  @include font(26px, 400, 1.5);
  width: 219px;
  height: 59px;
  padding: 10px;
  text-align: center;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 219px;
    height: 59px;
    border: 2px solid var(--color-accent);
    top: -15%;
    right: -4%;
    box-sizing: border-box;
    transition: all 250ms var(--transition);
    z-index: -1;
  }
  &:hover::after {
    top: -1px;
    right: -1px;
    height: 61px;
  }
}

.button-link {
  color: var(--color-main-font);
  text-decoration: underline;
  @include font(18px, 400, 1.5);
}

.button-small {
  position: relative;
  @include font(14px, 400, 1.5);
  width: 97px;
  height: 25px;
  background-color: var(--color-accent);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-light-font);
  padding: 2px 16px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 97px;
    height: 25px;
    border: 1px solid var(--color-accent);
    top: -15%;
    right: -4%;
    box-sizing: border-box;
    transition: all 250ms var(--transition);
  }
  &:hover::after {
    top: 0;
    right: 0;
  }
}

.button-more {
  display: block;
  color: var(--color-main-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  border: 2px solid var(--color-main-font);
  padding: 13px 49px;
  width: fit-content;
  &--right {
    position: relative;
    &::after {
      right: -40px;
      content: url(../../assets/images/icon/arrow-right.png);
      position: absolute;
      transition: opacity 250ms var(--transition);
      opacity: 0;
    }
    &:hover::after {
      top: 15px;
      opacity: 1;
    }
  }
  &--bottom {
    position: relative;
    &::after {
      content: url(../../assets/images/icon/arrow-bottom.png);
      position: absolute;
      opacity: 0;
      left: 95px;
      transition: opacity 250ms var(--transition);
    }
    &:hover:after {
      top: 38px;
      opacity: 1;
    }
  }
}

.button-more {
  display: block;
  color: var(--color-main-font);
  @include font(20px, 400, 1.2);
  border: 2px solid var(--color-main-font);
  padding: 13px 49px;
  width: fit-content;
  &--right {
    position: relative;
    transition: all 250ms var(--transition);
    &:hover::after {
      top: 15px;
      opacity: 1;
    }
  }
  &::after {
    right: -40px;
    content: url(../../assets/images/icon/arrow-right.png);
    position: absolute;
    transition: opacity 250ms var(--transition);
    opacity: 0;
  }
  &--bottom {
    position: relative;
    &:after {
      content: url(../../assets/images/icon/arrow-bottom.png);
      position: absolute;
      opacity: 0;
      left: 95px;
      transition: opacity 250ms var(--transition);
    }
    &:hover:after {
      top: 38px;
      opacity: 1;
    }
  }
}
