.layout {
  width: 1074px;
  margin: 0 auto;
  padding: 0 15px;

  &--column {
    flex-direction: column;
  }
}

@include from320to479 {
  .layout {
    width: 360px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
