<main>
  <section class="catalog__layout layout">
    <div class="catalog__content">
      <div class="catalog__content-wrapper">
        <div class="catalog__list-wrapper">
          <ul id="catalog-list" class="catalog__list"></ul>
        </div>
      </div>
    </div>
  </section>
  <div class="arrow">
    <button class="scrollToTopBtn">
      <a href="#" class="arrow__fixed">
        <img
          class="arrow__fixed-img"
          width="50"
          height="50"
          src="assets/images/icon/arrow.png"
          alt="arrow scroll"
        />
      </a>
    </button>
  </div>
</main>
