<footer class="footer">
  <div class="footer__layout">
    <div class="layout">
      <div class="footer__social social">
        <ul class="footer__nav-list social__list">
          <li class="footer__nav-item social__item">
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer__nav-link social__link"
            ></a>
          </li>
          <li class="footer__nav-item social__item">
            <a
              href="mailto:aesthetics@gmail.com"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer__nav-link social__link"
            ></a>
          </li>
          <li class="footer__nav-item social__item">
            <a
              href="tel:+380977114340"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer__nav-link social__link"
            ></a>
          </li>
          <li class="footer__nav-item social__item">
            <a href="#" class="footer__nav-link social__link"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__navigation">
      <div class="footer__nav-container layout">
        <a class="footer__logo-link logo__link" href="./index.html">
          <img
            class="footer__logo-icon logo__icon"
            src="./assets/images/icon/logo_transparent.svg"
            alt="logo"
          />
        </a>
        <div class="footer__container">
          <ul class="footer__nav-list footer__nav-list--desktop">
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="/src/catalog.html">Каталог</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="/src/delivery.html"
                >Доставка та оплата
              </a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="/src/blog.html">Блог</a>
            </li>
            <li class="footer__nav-item">
              <a class="footer__nav-link" href="/src/contacts.html">Контакти</a>
            </li>
          </ul>
          <ul class="footer__nav-list">
            <li class="footer__nav-item">Режим роботи</li>
            <li class="footer__nav-item">Понеділок - Субота</li>
            <li class="footer__nav-item">З 9:00 до 21:00</li>
            <ul class="footer__nav-list footer__nav-list--mobile">
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="/src/catalog.html">Каталог</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="/src/delivery.html"
                  >Доставка та оплата
                </a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="/src/blog.html">Блог</a>
              </li>
              <li class="footer__nav-item">
                <a class="footer__nav-link" href="/src/contacts.html"
                  >Контакти</a
                >
              </li>
            </ul>
          </ul>

          <div class="footer__nav-wrapper">
            <div class="footer__nav-list footer__nav-list--last">
              <a class="footer__nav-link" href="#">Політика конфіденційності</a>
              <div class="footer__nav-tel">
                <a class="footer__nav-link" href="tel:+380635542221"
                  >+38 (063) 554 22 21</a
                >
                <a class="footer__nav-link" href="tel:+380956789900"
                  >+38 (095) 678 99 00</a
                >
              </div>
            </div>
            <div class="footer__nav-item pay-icons__item">
              <a href="#" class="footer__nav-link pay-icons__link"></a>
              <a href="#" class="footer__nav-link pay-icons__link"></a>
              <a href="#" class="footer__nav-link pay-icons__link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="mobile-menu" class="mobile-menu mobile-menu--hidden">
  <a href="javascript:void(0)" id="menu-close" class="mobile-menu__close"></a>
  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item mobile-menu__item--logo">
        <a
          class="mobile-menu__link mobile-menu__link--logo"
          href="./index.html"
        >
          <img
            class="mobile-menu__img"
            src="./assets/images/icon/logo_transparent.svg"
            alt="logo"
          />
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="footer__nav-link mobile-menu__link" href="/src/catalog.html"
          >Каталог</a
        >
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="/src/delivery.html"
          >Доставка та оплата
        </a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="/src/blog.html">Блог</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="/src/contacts.html">Контакти</a>
      </li>
    </ul>
  </nav>
</div>
