:root {
  --color-white: #ffffff;
  --color-main-font: #484847;
  --color-light-font: #fffbf5;
  --color-accent: #4b6049;
  --color-grey-font: #b2b2b2;
  --color-black: #000000;
  --color-grey-font-placeholder: #b3b3b2;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

::-webkit-scrollbar {
  border: 0.5px solid var(--color-accent);
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--color-white);
  border-left: 1px solid var(--color-accent);
  border-right: 1px solid var(--color-accent);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--color-accent) 0%,
    var(--color-accent) 5%,
    var(--color-white) 5%,
    var(--color-white) 18%,
    var(--color-accent) 18%,
    var(--color-accent) 82%,
    var(--color-white) 82%,
    var(--color-white) 95%,
    rgba(17, 125, 54, 1) 95%,
    var(--color-accent) 100%
  );
  background-clip: padding-box;
}

::-webkit-scrollbar-button:single-button {
  background-color: var(--color-white);
  display: block;
  border-style: solid;
  height: 10px;
  width: 10px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  border: transparent;
  background: url(../../assets/images/icon/arrow-scroll-down.svg) center no-repeat;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  border: transparent;
  background: url(../../assets/images/icon/arrow-scroll-up.svg) center no-repeat;
}

/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/

header,
main,
footer,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

footer {
  height: fit-content;
}

body {
  font-family: 'Candara', normal;
  color: var(--color-main-font);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* header */
.title-hidden {
  text-indent: -99999px;
}

.header {
  padding-top: 11px;
  &__layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    margin-right: 57px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    padding: 0 14px;
    border-bottom: 1px solid var(--color-accent);
    height: fit-content;
  }
  &__nav-list {
    @include flex-list(25px);
    text-align: center;
  }
  &__nav-link {
    @include font(26px, 300, 1.22);
    color: var(--color-main-font);
  }
  &__icons {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 57px;
  }
  &__icons-list {
    @include flex-list(20px);
    text-align: center;
  }

  &__icons-link {
    display: block;
    width: 40px;
    height: 40px;
    transition: background-image 250ms var(--transition);
  }
  &__icons-item {
    &:nth-child(1) {
      background-image: url(../../assets/images/icon/cabinet.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover,
    &:focus {
      background-image: url(../../assets/images/icon/cabinet_hover.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
    &:nth-child(2) {
      background-image: url(../../assets/images/icon/heart.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/heart_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &:nth-child(3) {
      background-image: url(../../assets/images/icon/basket.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/basket_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.arrow {
  &__fixed {
    display: block;
    position: fixed;
    right: 10%;
    top: 90%;
    z-index: 4;
  }
  &__fixed-img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.footer {
  margin-top: auto;
  min-height: fit-content;
  &__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__social {
    justify-content: right;
    height: fit-content;
    padding-bottom: 8px;
  }
  &__bottom {
    background-color: var(--color-accent);
    padding-top: 38px;
    padding-bottom: 25px;
  }
  &__container {
    color: var(--color-light-font);
    position: relative;
    display: flex;
    align-items: flex-start;
  }
  &__logo {
    margin-right: 87px;
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  &__hour-container {
    margin-right: 39px;
  }
  &__nav-link,
  &__nav-item {
    @include font(20px, 400, 1.5);
    color: var(--color-light-font);
  }
  &__nav-container {
    margin-right: 53px;
  }
}

.social {
  &__list {
    flex-direction: row;
    gap: 15px;
    justify-content: end;
  }
  &__link {
    display: block;
    width: 50px;
    height: 50px;
  }
  &__item {
    transition: background-image 250ms var(--transition);
    &:nth-child(1) {
      background-image: url(../../assets/images/icon/instagram.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/instagram_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(2) {
      background-image: url(../../assets/images/icon/email.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/email_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(3) {
      background-image: url(../../assets/images/icon/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/phone_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(4) {
      background-image: url(../../assets/images/icon/address.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/address_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
.pay-icons {
  &__list {
    @include flex-list(25px);
    flex-direction: row;
  }
  &__wrapper {
    position: absolute;
    top: 90%;
    left: 75%;
  }
  &__item {
    &:nth-child(1) {
      width: 52px;
      height: 32px;
      background-image: url(../../assets/images/icon/mastercard.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/mastercard_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(2) {
      width: 76px;
      height: 25px;
      background-image: url(../../assets/images/icon/visa.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/visa_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(3) {
      width: 83px;
      height: 34px;
      background-image: url(../../assets/images/icon/apay.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../../assets/images/icon/apay_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
