::-webkit-scrollbar {
  border: 0.5px solid $color-accent;
  width: 14px;
}

::-webkit-scrollbar-track {
  background: $color-white;
  border-left: 1px solid $color-accent;
  border-right: 1px solid $color-accent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    $color-accent 0%,
    $color-accent 5%,
    $color-white 5%,
    $color-white 18%,
    $color-accent 18%,
    $color-accent 82%,
    $color-white 82%,
    $color-white 95%,
    rgba(17, 125, 54, 1) 95%,
    $color-accent 100%
  );
  background-clip: padding-box;
}

::-webkit-scrollbar-button:single-button {
  background-color: $color-white;
  display: block;
  border-style: solid;
  height: 10px;
  width: 10px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  border: transparent;
  background: url(../assets/images/icon/arrow-scroll-down.svg) center no-repeat;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  border: transparent;
  background: url(../assets/images/icon/arrow-scroll-up.svg) center no-repeat;
}

header,
main,
footer,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

footer {
  height: fit-content;
}

body {
  font-family: 'Candara', normal;
  color: $color-main-font;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* header */
.title-hidden {
  text-indent: -99999px;
}

.header {
  padding-top: 11px;
  &__layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    margin-right: 57px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    padding: 0 14px;
    border-bottom: 1px solid $color-accent;
    height: fit-content;
  }
  &__nav-list {
    @include flex-list(25px);
    text-align: center;
  }
  &__nav-link {
    @include font(26px, 300, 1.22);
    display: block;
    color: $color-main-font;
    transition: color, transform 250ms $transition;
    &:hover {
      color: $color-accent;
      transform: translateY(3px);
    }
  }
  &__icons {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 57px;
  }
  &__icons-list {
    @include flex-list(20px);
    text-align: center;
  }

  &__icons-link {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    transition: background-image 250ms $transition;
  }
  &__icons-item {
    &:nth-child(1) {
      background-image: url(../assets/images/icon/cabinet.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/cabinet_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    &:nth-child(2) {
      background-image: url(../assets/images/icon/heart.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/heart_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
    &:nth-child(3) {
      background-image: url(../assets/images/icon/basket.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/basket_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }
}

.cart-count {
  position: absolute;
  top: 15px;
  display: block;
  width: 100%;
  text-align: center;
  color: $color-accent;
  @include font(16px, 700, 1.14);
}

@include from1024to1279 {
  .cart-count {
    position: absolute;
    top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    color: $color-accent;
    @include font(16px, 700, 1.14);
  }
}
.arrow {
  &__fixed-img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.scrollToTopBtn {
  border: none;
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}
.scrollToTopBtn.showBtn {
  opacity: 1;
  transform: translateY(0);
}

.social {
  &__list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;
    height: fit-content;
    padding-bottom: 8px;
  }
  &__link {
    display: block;
    width: 50px;
    height: 50px;
  }
  &__item {
    transition: background-image 250ms $transition;
    &:nth-child(1) {
      background-image: url(../assets/images/icon/instagram.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/instagram_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(2) {
      background-image: url(../assets/images/icon/email.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/email_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(3) {
      background-image: url(../assets/images/icon/phone.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/phone_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(4) {
      background-image: url(../assets/images/icon/address.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/address_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
@include from480to767 {
  .social {
    &__list {
      gap: 20px;
    }
    &__link {
      width: 30px;
      height: 30px;
    }
    &__item {
      transition: background-image 250ms $transition;
      &:nth-child(1) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(2) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(3) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(4) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
    }
  }
}

@include from320to479 {
  .social {
    &__list {
      gap: 20px;
    }
    &__link {
      width: 30px;
      height: 30px;
    }
    &__item {
      transition: background-image 250ms $transition;
      &:nth-child(1) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(2) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(3) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(4) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
    }
  }
}
.footer {
  &__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__navigation {
    background-color: $color-accent;
    width: 100%;
    height: 192px;
  }
  &__logo-icon {
    width: 232px;
  }
  &__container {
    display: flex;
    gap: 40px;
    padding-top: 26px;
  }
  &__nav-link {
    @include font(20px, 400, 1.5);
    color: $color-light-font;
  }
  &__nav-list {
    &--last {
      display: flex;
      flex-direction: column;
    }
    &--mobile {
      display: none;
    }
  }
  &__nav-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__nav-tel {
    display: flex;
    flex-direction: column;
  }
  &__nav-item {
    @include font(20px, 400, 1.5);
    color: $color-light-font;
  }
}

.pay-icons {
  &__item {
    @include flex-list(25px);
    padding-top: 14px;
  }
  &__link {
    &:nth-child(1) {
      width: 52px;
      height: 32px;
      background-image: url(../assets/images/icon/mastercard.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/mastercard_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(2) {
      width: 76px;
      height: 25px;
      background-image: url(../assets/images/icon/visa.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/visa_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
    &:nth-child(3) {
      width: 83px;
      height: 34px;
      background-image: url(../assets/images/icon/apay.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover,
      &:focus {
        background-image: url(../assets/images/icon/apay_hover.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }

  &--burger {
    display: none;
  }
}
@include from1024to1279 {
  .footer {
    &__layout {
      .layout {
        margin: 0;
        width: 100%;
        padding: 0 30px;
      }
    }
  }
}

@include from768to1023 {
  .footer {
    &__layout {
      .layout {
        margin: 0;
        width: 100%;
        padding: 0 20px;
      }
    }
    &__nav-link,
    &__nav-item {
      font-size: 2vw;
    }
    &__logo-icon {
      width: 60%;
    }
  }
  .pay-icons {
    &__item {
      gap: 15px;
    }
    &__link {
      &:nth-child(1) {
        width: 6vw;
        height: 3vw;
        background-size: contain;
      }
      &:nth-child(2) {
        width: 9vw;
        height: 4vw;
        background-size: contain;
      }
      &:nth-child(3) {
        width: 9vw;
        height: 3vw;
        background-size: contain;
      }
    }
  }
}
@include from480to767 {
  .footer {
    &__layout {
      display: flex;
      flex-direction: column;
      .layout {
        margin: 0;
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
      }
    }
    &__navigation {
      height: 271px;
    }
    &__nav-container {
      align-items: center;
    }
    &__container {
      padding-top: 20px;
      gap: 39px;
    }
    &__nav-list {
      &--desktop {
        display: none;
      }
      &--last {
        gap: 37px;
      }
      &--mobile {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
      }
    }
    &__nav-wrapper {
      display: flex;
    }
    &__logo-link {
      align-self: flex-start;
    }
    &__logo-icon {
      height: 80px;
      width: 150px;
    }
    &__nav-link,
    &__nav-item {
      @include font(16px, 400, 1.21);
    }
    &__nav-link {
      order: 2;
    }
  }
  .pay-icons {
    &__item {
      gap: 15px;
      padding-top: 30px;
    }
    &__link {
      &:nth-child(1) {
        width: 6vw;
        height: 3vw;
        background-size: contain;
      }
      &:nth-child(2) {
        width: 9vw;
        height: 4vw;
        background-size: contain;
      }
      &:nth-child(3) {
        width: 9vw;
        height: 3vw;
        background-size: contain;
      }
    }
  }
}
@include from320to479 {
  .footer {
    &__layout {
      display: flex;
      flex-direction: column;
      .layout {
        margin: 0;
        width: 100%;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
      }
    }
    &__navigation {
      height: 271px;
    }
    &__nav-container {
      align-items: flex-start;
    }
    &__container {
      padding-top: 20px;
      gap: 39px;
    }
    &__nav-list {
      &--desktop {
        display: none;
      }
      &--last {
        gap: 37px;
      }
      &--mobile {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
      }
    }
    &__nav-wrapper {
      display: flex;
    }
    &__logo-link {
      align-self: flex-start;
    }
    &__logo-icon {
      height: 58px;
      width: 100px;
    }
    &__nav-link,
    &__nav-item {
      @include font(14px, 400, 1.21);
    }
    &__nav-link {
      order: 2;
    }
  }
  .pay-icons {
    &__item {
      gap: 15px;
      padding-top: 30px;
    }
    &__link {
      &:nth-child(1) {
        width: 6vw;
        height: 3vw;
        background-size: contain;
      }
      &:nth-child(2) {
        width: 9vw;
        height: 4vw;
        background-size: contain;
      }
      &:nth-child(3) {
        width: 9vw;
        height: 3vw;
        background-size: contain;
      }
    }
  }
}

@include from1024to1279 {
  .header {
    &__logo {
      margin-right: 40px;
    }
    &__icons-item {
      width: 32px;
      height: 32px;
    }
    &__icons-link {
      width: 30px;
      height: 30px;
    }
    &__nav-link {
      @include font(20px, 300, 1.22);
    }
    &__icons-list {
      @include flex-list(10px);
    }
    &__icons {
      margin-left: 37px;
    }
  }
}
@include from768to1023 {
  .header {
    &__logo {
      margin-right: 40px;
    }
    &__icons-item {
      width: 32px;
      height: 32px;
    }
    &__icons-link {
      width: 30px;
      height: 30px;
    }
    &__nav-link {
      @include font(17px, 400, 1.22);
    }
    &__icons-list {
      @include flex-list(10px);
    }
    &__icons {
      margin-left: 37px;
    }
  }
  .cart-count {
    @include font(14px, 300, 1.1);
  }
}
@include from480to767 {
  .header {
    &__layout {
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
    }
    &__logo {
      margin-right: 60px;
    }
    &__icons {
      margin-left: 0;
    }
    &__nav {
      display: none;
    }
    &__icons-link {
      width: 30px;
      height: 30px;
    }
    &__icons-item {
      width: 30px;
      height: 30px;
      &--burger {
        background-image: url(../assets/images/icon/burger.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &:nth-child(1) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
@include from320to479 {
  .header {
    padding-top: 0;

    &__layout {
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
    }
    &__logo {
      margin-right: 60px;
    }
    &__icons {
      margin-left: 0;
    }
    &__nav {
      display: none;
    }
    &__icons-link {
      width: 30px;
      height: 30px;
    }
    &__icons-item {
      width: 30px;
      height: 30px;
      &--burger {
        background-image: url(../assets/images/icon/burger.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &:nth-child(1) {
        width: 30px;
        height: 30px;
        background-size: contain;
        &:hover,
        &:focus {
          background-size: contain;
        }
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        width: 30px;
        height: 30px;
      }
    }
  }
  .cart-count {
    @include font(12px, 300, 1.1);
  }
}

.mobile-menu {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1488;
  background-color: $color-accent;
  transition: top 500ms $transition;
  &--hidden {
    top: -100%;
  }
  &__close {
    background-image: url(../assets/images/icon/close_white.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  &__nav {
    height: 300px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    list-style: none;
  }
  &__item {
    width: 100%;
    // height: 42px;
    padding: 10px 20px;
    border-bottom: 0.5px solid $color-light-font;
    &--logo {
      padding-bottom: 18px;
      border-bottom: none;
      width: fit-content;
      align-self: flex-start;
      height: 100%;
    }
  }
  &__link {
    color: $color-light-font;
    @include font(18px, 400, 1.17);
    height: 100%;
    align-self: baseline;
  }
  &__img {
    width: 100px;
    height: 58px;
  }
}
